*.log
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/.qodo
/.zencoder
/.zenflow
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/bootstrap/cache/*.php
/storage/*.key
/storage/pail
/vendor
/*.zip
Homestead.json
Homestead.yaml
Thumbs.db
